.img-div {
	padding-top: 1%
}

.carousel-inner img {
	width: 100%;
	height: 50%;
}

.slider-container {
	padding-right: 15%;
	padding-left: 15%;
	padding-top: 1%;
	padding-bottom:0;
}
 
.row {
	padding-bottom: 1%;
	padding-top: 1%;
}

.sofiatextfont {
	font-family: "Sofia";
	font-size: 40px;
	font-weight: bold;

}

.sofiatextfont {
	//padding-left: 10%;
}

.pubglogo {
	height: 6%;
	width: 6%;
}

.homelogo {
	height: 15%;
	width: 15%;
}
.homelogo2 {
	height: 6%;
	width: 6%;
}



.clanImgDetail {
	height: 65%;
	width: 35%;
	/*border: 5px solid #555;*/
}


.memberNameStyle {
	font-weight: bold;
	font-style: italic;
	color: black;
  text-shadow: 1px 1px 2px white, 0 0 25px blue, 0 0 5px black;
}



.clan-detail-btn-div{
	padding-right: 20px; 
}

.img-div2 {
	padding-bottom: 100px;
	padding-top: 0px;
	height: 50px;
}
  .header-div{border: 5px outset red;
  background-color: lightblue;
  text-align: center;
}
.clanImgDetail2 {
	height: 100%;
	width: 57%;
}
.sofiatextfont2 {
	font-family: "Sofia";
	font-size: 38px;
	font-weight: bold;
	color: black;
}
.clan-nick-tag {
	/*padding-left: 8%;*/
	font-weight: bold;
	font-style: italic;
	font-size: 22px;
	color: black;
	/*text-shadow: 2px 2px 8px #e6ffff;*/
	/*color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px skyblue;*/
	/*text-decoration: underline blue;*/
}
/*.blog-data {
	font-size: 25px;
}*/

.clanlogodetails{
	height: 10%;
	width: 12%;
}

.clan-nick-name{
	font-family: "Sofia";
	font-size: 38px;
	font-weight: bold;
	color: black;
	color: black;
  text-shadow: 1px 1px 2px white, 0 0 25px black, 0 0 5px black;
}

.clan-nick-desc{
	font-family: "Georgia";
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
	color: black;
}

/*style="font: italic bold 18px/20px Georgia, serif"*/

.clan-nick-tag-name{
	font-weight: bold;
	font-family: "Sofia";
	font-style: italic;
	font-size: 32px;
	color: black;
	color: black;
  /*text-shadow: 1px 1px 2px white, 0 0 25px black, 0 0 5px black;*/
}

.clan-detail-hr{
	height: 2px;
	border-width:10px;
	color:black;
}
.clan-detail-btn{ 
	width: 70px;
	height: 60px;	
	margin: 80px; 
}
.clan-table{
	
}
.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.verticalName{
	writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: "Sofia";
  font-weight: bold;
 /* color:black;*/
 color: black;
  text-shadow: 1px 1px 2px white, 0 0 25px blue, 0 0 5px black;

}
.sliderSize{
	padding-right: 3%;
	padding-left: 3%;
	padding-top: 1%;
	padding-bottom:0;
}
.dropDownBtnSize{
	padding-right:20%;
	padding-left: 20%;
	padding-top: 1%;
	padding-bottom:0%;
}
.gameFrndName{
	color: black;
  text-shadow: 1px 1px 2px white, 0 0 25px black, 0 0 5px black;
  font-family: "Sofia";
	font-size: 18px;
	font-weight: bold;
	padding-left: 0;

}
.clan-heading{
	font-family: "Sofia";
	font-size: 38px;
	font-weight: bold;
	color: red;
  text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px white;
}

.blinkText{
	animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% { opacity: 0; }
}
@keyframes blin {
  50% { opacity: 0; }
}
